*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* max-width: 1440px; */
}
.header{
    padding: 40px 60px;
    background-color: hsl(193, 100%, 96%);
    background-image: url(images/bg-hero-desktop.svg);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}

.btn1{
    padding: 15px 60px;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
    font-family: 'Open Sans';
}
main{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 60px 0px 20px;
    margin: auto;
  }
.text-axis{
    width: 65%;
 }
 .text-axis1{
    width: 100%;
 }
 .headd{
    font-size: 25px;
    padding-right: 10px;
    margin: 60px 20px 10px 5px;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 700;
}
.bodyy{
    padding-right: 10px;
    margin: 5px 20px 60px 5px;
    font-size: 18px;
    text-justify: distribute-all-lines;
    color: gray;
    font-family: 'Open Sans';
    font-weight: 400;
}
.imgg{
    padding-left: 5em;
    width: fit-content;
}
.text-axis2{
    width: 100%;
    padding-right: 0px;
 }
 .headd1{
    font-size: 25px;
    padding-left: 5px;
    margin: 60px 0px 10px;
    font-family: 'Poppins';
    font-weight: 700;
}
.bodyy1{
    padding-left: 5px;
    margin: 5px 0px 60px;
    font-size: 18px;
    text-justify: distribute-all-lines;
    color: gray;
    font-family: 'Open Sans';
    font-weight: 400;
}
.imgg1{
    padding-right: 5em;
    width: fit-content;
}
 .head{
    font-size: 32px;
    padding-right: 20px;
    margin: 25px 0px;
    font-family: 'Poppins';
    font-weight: 700;
}
.body{
    padding-right: 40px;
    margin: 25px 0px;
    font-family: 'Open Sans';
    font-size: 18px;
}
.btn{
    width: 250px;
    border: none;
    border-radius: 30px;
    border-width: 40px;
    height: 50px;
    text-decoration: none;
    font-size: 13px;
    background-color: hsl(322, 100%, 66%);
    position: relative;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.12);
}
.btn:hover{
    background-color: hsl(202, 63%, 55%);
}
.img{
    padding-left: 5em;
    padding-top: 5em;
}
.sevices{
    margin: 100px auto;
    width: 100%;
    display: flex; 
    flex-direction: column; 
}
.cts, .cts1{
    margin: 70px 150px;
    width: 80%;
    height: 55vh;
    display: flex;
    flex: 1;
    border: 5px solid rgb(253, 253, 253);
    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
    background-position: center;
    border-radius: 20px;
    padding: 100px;
    justify-content: center;
    align-items: center;
}
.flow{
    display: flex;
}
.com{
    display: inline-block;
    position: relative;
    margin: 150px 10% -70% 25%;
    z-index: 1;
    width: 50%;
    height: 30vh;
    border: 10px solid rgb(253, 253, 253);
    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
    background-color: #fff;
    background-position: center;
    border-radius: 5px;
    padding: 100px 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.build{
    padding-bottom: 20px;
    margin-left: 5px;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 700;
}
.btn2{
    width: 350px;
    border: none;
    border-radius: 30px;
    border-width: 40px;
    height: 50px;
    text-decoration: none;
    font-size: 13px;
    background-color: hsl(322, 100%, 66%);
    position: relative;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.btn2:hover{
    background-color: hsl(202, 63%, 55%);
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 130px 200px 100px 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
}

.footer-logo{
    margin: 20px 0 20px 25px;
}

.row-1-col-1,
.row-2-col-1,
.row-3-col-1{
    display: flex;
    padding: 20px;
}

.ft-img-2,
.ft-img-3 {
    margin: 0 10px;
}

.ft-img-1{
    margin: 5px 10px 10px 10px;
    height: 20px;
    width: 20px;
}

.row-1-col-1-txt,
.row-2-col-1-txt,
.row-3-col-1-txt {
    margin: 0 20px;
}

.ft-email {
    margin-left: 15px;
}

.footer-container-2,
.footer-container-3,
.icons {
    margin: 100px 0;
}
.fa{
    margin: 0 4px ;
}

.ft-txt-2,
.ft-txt-5 {
    margin: 20px 0;
}

.copyright {
    display: flex;
    justify-content: flex-end;
    padding: 0 50px 100px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
}

.icn {
    height: 15px;
    width: 15px;
    color: white;
    /* border: 1px solid white;
    border-radius: 50%; */
}

.tw-icn {
    margin: 0 10px;
    color: white;
}
@media (max-width:375px){
    .header{
        padding: 40px 20px;
        background-color: hsl(193, 100%, 96%);
        background-image: url(images/bg-hero-mobile.svg);
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav img{
        width: 100px;
    }
    
    .btn1{
        padding: 5px 30px;
        background-color: #fff;
        border: none;
        border-radius: 25px;
        box-shadow: 0 3px 16px rgba(0,0,0,0.12);
    }
    main{
        display: block; 
        min-width: 375px;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
    .text-axis{
        width: 95%;
     }
     .text-axis1{
        width: 100%;
     }
     .head{
        font-size: 28px;
        padding-right: 40px;
        margin: 20px 20px;
        justify-content: center;
        place-items: center;
        text-align: center;
        width: 100%;
    }
    .body{
        /* padding-right: 10px; */
        margin: 20px 50px;
        justify-content: center;
        place-items: center;
        /* text-align: center; */
        width: 80%;
    }
    .btn{
        /* padding-right: 40px; */
        margin: 20px 50px;
        width: 250px;
        border: none;
        border-radius: 30px;
        border-width: 40px;
        height: 50px;
        text-decoration: none;
        font-size: 13px;
        background-color: hsl(322, 100%, 66%);
        position: relative;
        cursor: pointer;
        font-family: 'Poppins';
        font-weight: 400;
        color: #fff;
    }
    .sevices{
        margin: 100px auto;
        width: 100%;
        display: block;  
    }
    .cts{
        margin: 70px 50px;
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        border: 5px solid rgb(253, 253, 253);
        box-shadow: 0 3px 16px rgba(0,0,0,0.12);
        /* background-position: center; */
        border-radius: 20px;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
    }
    .img{
        padding: 1em;
    }
    .text-axis1{
        width: 100%;
     }
     .headd{
        font-size: 20px;
        padding: 3px 20px; 
        margin: 5px 30px 5px;
        font-family: 'Poppins';
        color: rgb(29, 27, 27);
        font-size: 20px;
        font-weight: 500;
    }
    .bodyy{
        padding: 0px;
        margin: 0px 0px 5px;
        font-size: 18px;
        text-align: center;
        color: gray;
        width: 100%;
        font-family: 'Open Sans';
        font-size: 15px;
    }
    .imgg{
        margin-top: 10px;
        padding: 0em 1em;
        width: 100%;
    }
    .cts1{
        margin: 70px 50px;
        width: 80%;
        display: flex;
        flex-direction: column;
        border: 5px solid rgb(253, 253, 253);
        box-shadow: 0 3px 16px rgba(0,0,0,0.12);
        /* background-position: center; */
        border-radius: 20px;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
    }
    .text-axis2{
        width: 100%;
     }
     .headd1{
        font-size: 20px;
        padding: 3px 10px; 
        margin: 5px 10px 5px;
    }
    .bodyy1{
        padding: 0;
        margin: 0 0;
        font-size: 18px;
        text-align: center;
        color: gray;
        width: 100%;
    }
    .imgg1{
        margin-top: 10px;
        padding: 0em 1em;
        width: 100%;
    }
    .com{
        display: inline-block;
        position: relative;
        margin: 50px 20px -70%;
        z-index: 1;
        width: 90%;
        height: 30vh;
        border: 10px solid rgb(253, 253, 253);
        box-shadow: 0 3px 16px rgba(0,0,0,0.12);
        background-color: #fff;
        background-position: center;
        border-radius: 10px;
        padding: 20px 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .build{
        padding: 5px;
        margin: auto;
        font-size: 21px;

    }
    .footer {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        padding: 130px 20px 5px;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.7rem;
    }
    
    footer {
        background-color: hsl(192, 100%, 9%);
        color: white;
    }
    
    .footer-logo{
        margin: 20px 0 20px 5px;
    }
    
    .row-1-col-1{
        display: flex;
        padding: 20px 0;
    }
    .row-2-col-1,
    .row-3-col-1{
        display: flex;
        padding: 20px 0;
    }
    
    .ft-img-2,
    .ft-img-3 {
        margin: 5px 10px 20px;
    }
    
    .ft-img-1{
        margin: 5px 10px 10px 10px;
        height: 20px;
        width: 20px;
    }
    
    .row-1-col-1-txt{
        padding: 0;
    }
    .row-2-col-1-txt,
    .row-3-col-1-txt {
        padding: 5px 0;
    }
    
    .ft-email {
        margin-left: 15px;
    }
    
    .footer-container-2,
    .footer-container-3{
        margin: 5px 0;
        padding: 10px;
        font-size: 15px;
    }
    .icons {
        margin: 30px 120px 0;
        justify-content: center;
        font-size: 15px;
        width: 100%;
    }
    .fa{
        margin: 0 4px ;
    }
    
    .ft-txt-2,
    .ft-txt-5 {
        margin: 20px 0;
    }
    
    .copyright {
        display: flex;
        justify-content: center;
        padding: 0 50px 20px;
        margin: 0 20px 20px 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.7rem;
    }   
}